<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.eurekaclient01.mapper.LoginUserMapper">

    <insert id="addLoginUser">
        insert into loginuser(userName,age) values(#{userName},#{age})
    </insert>

    <select id="findLoginUserById" parameterType="Integer" resultType="com.example.eurekaclient01.entity.LoginUser">
        select id,userName,age
        from loginuser
        where
        id=#{id}
    </select>

    <select id="findAllLoginUser" resultType="com.example.eurekaclient01.entity.LoginUser">
        select id,userName,age
        from loginuser
    </select>
</mapper>